<div class="flex hover:shadow p-4 justify-between items-center bg-gray-50 my-2">
    <div class="flex items-center">
        <div>#{{data.id}}</div> 
        <div class="ml-2" *ngIf="!editTodo; else inputBlock;">{{data.title}}</div>
        <ng-template #inputBlock>
            <input class="input ml-2 p-2" type="text" #updateInput (keyup)="getUpdateInputValue(updateInput.value)">
        </ng-template>
    </div>
    <div class="flex">
        <app-button *ngIf="!editTodo;else elseBlock"  ngClass="btn blue mr-2" [message]="'Edit'" (onClick)="updateToggle()" ></app-button>
        <ng-template #elseBlock>
          <app-button ngClass="btn blue mr-2" [message]="'Update'" (onClick)="updateToggle(); updateItem()" ></app-button>
        </ng-template>
        <app-button ngClass="btn red" [data]="data" [message]="'Delete'" (onClick)="deleteItem()" ></app-button>
    </div>
</div>
<div *ngIf="showAlert" class="absolute bottom-0 right-0 text-white  px-6 py-4 border-0 rounded mb-4 bg-yellow-500">
    <span class="text-xl inline-block mr-5 align-middle">
      <i class="fas fa-bell"></i>
    </span>
    <span class="inline-block align-middle mr-8">
      <b class="capitalize">Input warning!</b> please fill the input field
    </span>
    <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" (click)="showAlert = false">
      <span>×</span>
    </button>
</div>
