<div class="min-h-screen grid grid-rows-6 grid-cols-4 gap-20 p-10">
    <div class="row-span-6 col-span-4 shadow-lg hover:shadow-2xl rounded bg-gray-100 min-h-full pt-2 pb-5 px-3">
        <div class="text-slate-400 "><b>XY Chart</b></div>
        <app-xy-chart></app-xy-chart>
    </div>
    <div class=" row-span-5 col-span-2 shadow-lg hover:shadow-2xl rounded bg-gray-100 min-h-full p-2 pb-5 box-border">
        <div class="text-slate-400 "><b>Pie Chart</b></div>
        <app-pie-chart></app-pie-chart>
    </div>
    <div class="row-span-5 col-span-2 shadow-lg hover:shadow-2xl rounded bg-gray-100 min-h-full p-2 pb-5 box-border">
        <div class="text-slate-400"><b>Gauge Chart</b></div>
        <app-gauge-chart></app-gauge-chart>
    </div>
</div>
